/* Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline
}

article, aside, dialog, figure, footer, header, hgroup, nav, section {
    display: block
}

body {
    line-height: 1
}

a img {
    border: none
}

table {
    border-collapse: separate;
    border-spacing: 0
}

caption, th, td {
    font-weight: normal
}

table, td, th {
    vertical-align: middle
}

blockquote:before, blockquote:after, q:before, q:after {
    content: ""
}

blockquote, q {
    quotes: "" ""
}

:focus {
    outline: 0
}

ins {
    text-decoration: none
}

del {
    text-decoration: line-through
}

button::-moz-focus-inner {
    border: 0
}

/*  sans-serif  */

@font-face {
    font-family: 'ar_blancaregular';
    src: url('../fonts/arblanca-webfont.eot');
    src: url('../fonts/arblanca-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/arblanca-webfont.woff') format('woff'),
    url('../fonts/arblanca-webfont.ttf') format('truetype'),
    url('../fonts/arblanca-webfont.svg#ar_blancaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'molengo';
    src: url('../fonts/molengoregular-webfont.eot');
    src: url('../fonts/molengoregular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/molengoregular-webfont.woff') format('woff'), url('../fonts/molengoregular-webfont.ttf') format('truetype'), url('../fonts/molengoregular-webfont.svg#molengoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ambleregular';
    src: url('../fonts/amble-regular-webfont.eot');
    src: url('../fonts/amble-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/amble-regular-webfont.woff') format('woff'), url('../fonts/amble-regular-webfont.ttf') format('truetype'), url('../fonts/amble-regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tuffyregular';
    src: url('../fonts/tuffy-webfont.eot');
    src: url('../fonts/tuffy-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/tuffy-webfont.woff') format('woff'), url('../fonts/tuffy-webfont.ttf') format('truetype'), url('../fonts/tuffy-webfont.svg#tuffyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'andika_basicregular';
    src: url('../fonts/andbasr-webfont.eot');
    src: url('../fonts/andbasr-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/andbasr-webfont.woff') format('woff'), url('../fonts/andbasr-webfont.ttf') format('truetype'), url('../fonts/andbasr-webfont.svg#andika_basicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*  serif  */
@font-face {
    font-family: 'dejavu_serifbook';
    src: url('../fonts/dejavuserif-webfont.eot');
    src: url('../fonts/dejavuserif-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/dejavuserif-webfont.woff') format('woff'), url('../fonts/dejavuserif-webfont.ttf') format('truetype'), url('../fonts/dejavuserif-webfont.svg#dejavu_serifbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gentium_basicregular';
    src: url('../fonts/genbasr-webfont.eot');
    src: url('../fonts/genbasr-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/genbasr-webfont.woff') format('woff'), url('../fonts/genbasr-webfont.ttf') format('truetype'), url('../fonts/genbasr-webfont.svg#gentium_basicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.preloading {
    display: block;
    visibility: hidden;
    position: absolute;
    left: -620px;
    width: 600px;
    height: 400px;
}

html, body {
    min-height: 120%;
    font-family: molengo;
    background: transparent url('../images/111.jpg') repeat scroll 0 0;
    font-size: 12px;
    color: #2c2621;
    letter-spacing: 0px;
    text-align: left;
    line-height: 18px;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

hr {
    background: none repeat scroll 0 0 #535353;
    border: medium none;
    clear: both;
    color: #2c2621;
    height: 1px;
    margin: 12px 0 0;
    padding: 0;
}

p {
    font-family: molengo;
    /* opacity:0.75; */
    /* filter:alpha(opacity=75);  For IE8 and earlier */
    font-size: 1em;
    color: #2c2621;
    line-height: 17px;
    padding: 4px 10px 8px 10px;
    letter-spacing: 1px;
    font-style: normal;
}

a {
    color: #a45d5b;
}

a:hover {
    color: #666666;
}


ul, ol {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

li ul,
li ol {
    margin: 0;
}

th {
    text-align: left;
    padding: 8px;
    color: #231406;
    background-color: #d6c7a5;
    font-weight: bold;
}

td {
    padding: 5px;
    color: #231406;
}

.error {
    font-weight:bold;
    color:#dd9fa4;
    font-size:1.1em;
}

section {
    width: 798px;
    background: transparent url('../images/banner.jpg') no-repeat scroll 0 0;
    margin-top: 9px;
    float: left;
    padding-bottom:12px;
    border-bottom: 1px dashed #988378;
    -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
    -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
}

section.wide {
    width: 1072px;
    background: transparent url('../images/bannerLong.jpg') no-repeat scroll 0 0;
    margin-top: 9px;
    float: left;
    padding-bottom:12px;
    border-bottom: 1px dotted #988378;
}

.intro {
    margin-top: -180px;
    float: left;
    height:206px;
}

section h1, .intro h1, .splashLogo h1 {
    font-family: gentium_basicregular;
    font-size: 1.5em;
    letter-spacing: 1px;
    color: #2c2621;
    margin-top: 48px;
    padding-left: 18px;
    padding-bottom: 6px;
    font-weight: bold;
}

.splashLogo h2 {

    margin-top: -6px;

}

section h2, .intro h2, .splashLogo h2 {
    font-family: gentium_basicregular;
    font-size: 1.15em;
    letter-spacing: 1px;
    color: #2c2621;
    padding-left: 18px;
    padding-bottom: 6px;
    font-weight: normal;
}

.intro h1, .intro h2 {
    color:#2c2621;
}

#container-page {
    width: 1074px !important;
    min-height: 1188px;
    position: relative;
    margin: 0 auto;
    margin-top:10px;
    background-color: #F9F6F1;
    z-index: 2;
    border: 3px solid #79302e;
    clear: both;
}

#container-page.splash {
    min-height: 897px;
    overflow:hidden;
}

#container-page.superTall {
    min-height: 1488px;
}
.cap {
    margin-top: -158px;
    width: 750px;
}
div.specialties {
    float:right;
  width:736px;
    border-top:1px dashed #5d5951;

    margin-top:-98px;

}
.specialtyList {
    float:left;
    height:100px;
    width:158px;
    border-right:1px dotted #79302E;
    padding:10px;
}

.specialtyList:first-of-type {

    border-left:1px solid #4f4b44;
}

.specialtyList:last-of-type {

    border:none;
}
.slideBody {
    border-top: 1px dashed #666666;
    height: 526px;
    padding-top: 12px;
    width: 1070px;
}
.cat {
    margin-bottom: 4px;
    padding: 4px;
    float: left;
    margin-right: 7px;
    min-height: 86px;
    width: 249px;
    border: 1px solid #c9b6a8;
    background-color: #F9F6F1;
}

.social {
    margin-bottom: 4px;
    padding: 4px;
    float: left;
    margin-right: 7px;
    min-height: 86px;
    width: 249px;
    background-color: #F9F6F1;
}

.fade {
    font-family: molengo;
    /* opacity:0.75; */
    /* filter:alpha(opacity=75);  For IE8 and earlier */
    font-size: 1em;
    color: #2c2621 !important;
    line-height: 15px;
    padding-top: 4px;
    letter-spacing: 1px;
    font-style: normal;
}

.Para {
    color: #2c2621 !important;
    background-color: #E1D6BF;
    padding-left: 1px;
    padding-right: 1px;
}

.Right {
    background-color: #f8f1e3;
    float: right;
    padding-top: 10px;
    padding-left: 8px;
    border-left: 1px dotted #c9b6a8;
}

.Right h2 {
    font-family: gentium_basicregular;
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 4px 0 6px 0;
}

#BodyContentDiv h3 {
    font-family: gentium_basicregular;
    font-size: 1.25em;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: left;
    color: #2c2621;
    padding-bottom: 10px;
    line-height: 20px;
    padding-right: 30px;
    padding-left: 10px;
}

#BodyContentDiv h4 {
    font-family: gentium_basicregular;
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: left;
    color: #2c2621;
    margin-top:10px;
    line-height: 20px;
    padding-right: 30px;
    padding-left: 10px;
}

#BodyContentDiv h4.options {
    padding-bottom:0;
    line-height:14px;
    font-size: 1em;
}

.categoryHead, .categoryHead a {
    font-family: molengo;
    font-size: 1em;
    text-align: left;
    letter-spacing: 1px;
    color: #2c2621;
    background-color: transparent;
    text-decoration: none;
    line-height: 14px;
    padding: 2px 2px;
    font-weight: bold;
}
.categoryHead:last-of-type, .categoryHead a:last-of-type {
    white-space: nowrap;
}
#BodyContentDiv {
    width: 790px;
    margin-top: 132px;
    position: absolute;
    min-height:688px;
}

#BodyContentDiv.splash {
    width: 1068px;
    margin-top: 7px;
}

#BodyContentDiv.wide {
   width: 1070px;
    margin-top:210px;
}

#foot {
    width: 1062px;
    position: absolute;
    bottom: 0 !important;
    padding: 7px 3px 4px 8px;
    border-top: 1px dashed #666666;
    background-color: #F9F6F1;
    font-size: .95em;
    color: #999999;
    z-index: 999;
}

#splashflash {
    width: 1070px;
    position: relative;
    bottom: 0 !important;
    margin-top: 8px;
    padding-left: 8px;
    border-top: 1px dashed #c9b6a8;
    background-color: #F9F6F1;
    font-size: .95em;
    color: #2c2621;
    z-index: 999;
    height:538px;
}

#foot a {
    font-size: .95em;
    color: #999999;
}

.grad {
    background: transparent url('../images/grad.jpg') repeat-x 0 0;

}

.shortgrad {
    background: transparent url('../images/shortgrad.jpg') repeat-x 0 0;

}
.aboutPic {
    background: transparent url('../images/laowaiME.png') no-repeat 0 0;
    height:584px;
    position:relative;
    width:300px;
    margin-top:-346px;
    margin-left:0;
    z-index: 1;
}

.aboutText {
    position:relative;
    margin-top:30px;
    margin-left:262px;
    padding-right:12px;
    z-index: 3;
}

.wide p {
    padding-bottom:0;
}

.sponsors {
    margin-top: 8px;
    padding-right: 9px;
}

.floatWrapper {
    width:500px;
    float:right;
}

.splashLogo {
    position:relative;
    width:300px;
    margin-top:-8px;
}

.floatRight {
    float:right;
}

.floatLeft {
    float:left;
    padding-left:8px;
}

.splashNav {
    margin-left:4px;
    margin-top:-196px;
    border-bottom:1px dotted #837878;
    padding-bottom:6px;
    clear:both;
}

.floatLeft.more {
    margin-top:8px;
    margin-left:27px;
}

p.strong {
    padding-left:21px;
    font-size:1em;
    font-weight:normal;
}

ul.rates {
    list-style-type: disc;
    padding-top: 5px;
    padding-bottom: 4px;
    margin-left: 32px;
}

ul.rates li {
    font-family: molengo;
    font-size: 1em;
    color: #2c2621;
    letter-spacing: 0px;
    line-height: 18px;
    padding-right: 12px;
    padding-left: 6px;
}

ul.rates .sub {
     margin-left: 32px;
}

ul.rates .sub li:first-of-type {
    padding-top: 12px;
}

ul.rates li:last-of-type {
    padding-bottom: 12px;
}

ul.navbar {
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #c9b6a8;
}

ul.navbar.splash {
    padding-top: 12px;
    padding-bottom: 0;
    border-bottom: none;
}

ul.navbar li {
    position: relative;
    display: inline-block;
    z-index: 999;
    padding-left: 5px;
    padding-right: 6px;
    border-right: 2px solid #c9b6a8;
 }

ul.navbar li:first-of-type {
    margin-left: 0;
}

ul.navbar a {
    text-decoration: none;
    color: #2c2621;
    font-family: molengo;
    font-size: 1em;
    font-weight: normal;
    letter-spacing: 1px;
    padding-left: 1px;
    padding-right: 1px;
}

ul.navbar li:last-of-type {
    border-right: none;
}

ul.navbar a:hover {
    color: #F2EEE5;
    background-color: #988378;
    font-weight: normal;
}

input, .SHORTformField {
    font-family: molengo;
    font-size: 11px;
    height: 16px;
    width: 70px;
    background-color: #ffffff;
}

input, .TINYformField {
    font-family: molengo;
    font-size: 11px;
    height: 16px;
    width: 31px;
    background-color: #ffffff;
}

input, .MEDformField {
    font-family: molengo;
    font-size: 11px;
    height: 16px;
    width: 160px;
}

input, .LONGformField {
    font-family: molengo;
    font-size: 11px;
    height: 16px;
    width: 220px;
}

.checkbox, .radio {
    width: 19px;
    padding: 0 5px 0 0;
    font-weight: normal;
    float:left;
}

.standardLabel  {
    font-weight: normal;
    float:left;  padding: 2px 1em 0 0;
}

.mbtn {
    border-color: #182919;
    background-color: #d8c9b4;
    color: #2c2621;
    font-family: molengo;
    font-size: 11px;
    letter-spacing: 0px;
    width: 86px;
    height: 20px;
    margin: 2px;
    text-align: center;
    font-weight: bold;
}

.mbtn:hover {
    border-color: #000000;
    background-color: #f7f6f0;
    color: #2c2621;
    font-family: molengo;
    font-size: 11px;
    letter-spacing: 0px;
    width: 86px;
    height: 20px;
    margin: 2px;
    text-align: center;
    font-weight: bold;
}

span.noBold {
    font-weight: normal !important;
}

span.italic {
    font-style: italic;
}

.push {
    clear: both;
    height: 148px;
}



#ppa {
    opacity: 0.80;
    margin-top:-10px;
}

#fabk {
    opacity: 0.80;
    width:95px;
    overflow:hidden;
}

#titter {
    opacity: 0.80;

    width:80px;
}

#titter:hover, #fabk:hover, #ppa:hover {
    opacity: 1.00;
}

#soc-container{ width:100px; clear: both;}
#leftcolumn { width: 90px; border: 1px solid red; float: left}
#rightcolumn { width: 70px; border: 1px solid red; float: right}
#soc-container{ width:100px; clear: both;}
.clear { clear: both;}

#otherlink, #printslink {
    cursor: pointer;
}

.rights {
    font-style: italic;
    font-size:11px;
    padding-top:12px;
}